<div class="container-fluid">

  <h1>Posts</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="post">
        <div class="post-image">
          <%= image_tag 'post-image', class: 'img-responsive' %>
        </div>
        <div class="row post-footer">
          <div class="col-xs-2">
            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
            <span class="post-likes">235</span>
          </div>
          <div class="col-xs-10">
            <p class="text-right"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i></p>
          </div>
        </div>
        <div class="post-text">
          <h1><%= link_to @first_post.title, post_path(@first_post) %></h1>
          <p><%=@first_post.body%></p>
          <%= link_to @first_post.user.full_name %>
          <p><%= @first_post.created_at.strftime("%Y-%m-%d")%></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 most-liked">
      <div class="panel panel-default">
      <div class="panel-heading">Most liked</div>
      <div class="panel-body">
        <% @posts.each do |p| %>
          <%= link_to p.title, post_path(p) %>
        <% end %>
      </div>
    </div>
    </div>

  </div>

  <div class=" posts">
    <% count = 0 %>
    <% @posts.last(@posts.count - 1).each do |p| %>
      <% if count == 0 %>
        <div class="row">
      <% end %>
        <div class="col-md-4">
          <div class="post">
            <div class="post-image">
              <%= image_tag 'post-image', class: 'img-responsive' %>
            </div>
            <div class="row post-footer">
              <div class="col-xs-2">
                <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                <span class="post-likes">235</span>
              </div>
              <div class="col-xs-10">
                <p class="text-right"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i></p>
              </div>
            </div>
            <div class="post-text">
              <h1><%=link_to p.title, post_path(p)%></h1>
              <p><%=p.body%></p>
              <%= link_to p.user.full_name, edit_user_path(p.user_id) %>
              <p><%= p.created_at.strftime("%Y-%m-%d")%></p>
            </div>
          </div>
        </div>

        <% if count == 2 %>
          </div>
          <% count = 0 %>
        <% else %>
          <% count += 1 %>
        <% end %>

    <%end%>
  </div>
  <h4 class='text-center'><%= link_to 'More articles'%></4>

</div>
