<div class="container-fluid">

  <h1>Posts</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="post">
        <div class="post-image">
          <%= image_tag 'post-image', class: 'img-responsive' %>
        </div>
        <div class="row post-footer">
          <div class="col-xs-2">
            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
            <span class="post-likes">235</span>
          </div>
          <div class="col-xs-10">
            <p class="text-right"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i></p>
          </div>
        </div>
        <div class="post-text">
          <h1><%= @posts.first.title%></h1>
          <p><%=%></p>
          <a href="#">author</a>
          <p><%= @posts.first.created_at.strftime("%Y-%m-%d")%></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 most-liked">
      <h1>Most liked</h1>
      <p><%=Faker::Lorem.paragraph(12)%></p>
    </div>
  </div>

  <div class="row posts">
    <% @posts.last(@posts.count - 1).each do |p| %>
      <div class="col-md-4">
        <div class="post">
          <div class="post-image">
            <%= image_tag 'post-image', class: 'img-responsive' %>
          </div>
          <div class="row post-footer">
            <div class="col-xs-2">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
              <span class="post-likes">235</span>
            </div>
            <div class="col-xs-10">
              <p class="text-right"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i></p>
            </div>
          </div>
          <div class="post-text">
            <h1><%= p.title%></h1>
            <p><%=p.body%></p>
            <a href="#">author</a>
            <p><%= p.created_at.strftime("%Y-%m-%d")%></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <h4 class='text-center'><%= link_to 'More articles'%></4>

</div>
