<h1>New post</h1>

<%= form_for @post do |p| %>
  <div class="">
    <%= p.label :title %>
    <%= p.text_field :title %>
  </div>
  <div class="">
    <%= p.label :body %>
    <%= p.text_area :body %>
  </div>
  <%= p.submit 'Create' %>
<%end%>
