<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h1><%= @post.title %></h1>
    </div>
    <div class="col-sm-4 hidden-xs">
      <div class="post-top">
        <% if user_signed_in? && @post.liked_by?(current_user) %>
          <%= link_to '', like_path(@post.likes.find_by(user:current_user)),class:'fa fa-heart fa-2x',method: :delete %>
        <% else %>
          <%= link_to '', post_likes_path(@post),class:'fa fa-heart-o fa-2x',method: :post %>
        <% end %>

          <span class="post-likes"><%= @post.likes.count%></span>
          <i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<div class="post-image">
  <%= image_tag 'post-image.jpg',class: "img-responsive"%>
</div>

<div class="container">
  <div class="post-text">
    <p><%= @post.body%></p>
    <p class="text-right"><%=@post.created_at.strftime("%Y-%m-%d")%></p>
    <%=link_to 'delete',post_path(@post),method: :delete,
                                data:{confirm: 'Sure?'}%>
    <%= link_to 'edit', edit_post_path(@post) %>
    <div class="row post-footer visible-xs">
      <div class="col-xs-2">
        <% if user_signed_in? && @post.liked_by?(current_user) %>
          <%= link_to '', like_path(@post.likes.find_by(user:current_user)),class:'fa fa-heart fa-2x',method: :delete %>
        <% else %>
          <%= link_to '', post_likes_path(@post),class:'fa fa-heart-o fa-2x',method: :post %>
        <% end %>
        <span class="post-likes"><%= @post.likes.count%></span>
      </div>
      <div class="col-xs-10">
        <p class="text-right"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i></p>
      </div>
    </div>
    <p><%= Category.find(@post.category_id).name %></p>
  </div>
  <div class="row"> <%#author comment%>
    <div class="col-xs-3 author-image">
      <%= image_tag 'aldo.JPG', class: 'img-responsive' %>
    </div>
    <div class="col-xs-9">
      <a href=""><h4><%= @post.user.full_name%></h4></a>
      <p><%= Faker::Lorem.paragraph(10)%></p>
    </div>
  </div>

  <h1>Leave a comment</h1>
  <p><%= @post.errors.full_messages.join(', ')%></p>
  <%= form_for [@post,@comment], :html => {class: "form-horizontal" } do |c| %>
    <div class="form-group">
      <%= c.text_area :body, class: "form-control", placeholder: '....', rows:6%>
    </div>
    <div class="form-group">
      <%= c.label 'Name' %>
      <input type="text" class="form-control"name="" value="">
    </div>
    <%= c.submit class: "btn btn-primary"%>
  <%end%>
  <hr>

  <% @comments.each do |c| %>
  <div class="container comment">
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag 'stewei.png', class: "comment-author-image img-responsive" %>
        </div>
        <div class="comment-body col-xs-8">
          <p><%= c.body %></p>
        </div>
        <div class="comment-body col-xs-2">
          <%= link_to 'delete', comment_path(c),
                                 method: :delete,
                                 class: 'btn btn-danger delete-comment',
                                 data: {confirm: 'Do you want to delete this comment?'}%>
        </div>
      </div>
      <div class="row comment-footer">
        <div class="col-xs-6">
          <p class="text-left">comment author name</p>
        </div>
        <div class="col-xs-6">
          <p class="text-right">comment date</p>
        </div>
      </div>
    </div>
  <%end%>

 <% if @comments.length >  0 %>
  <h4 class='text-center'><%= link_to 'More Comments'%></4>
 <%end%>

</div>
