<div class="container">
  <h1>New password</h1>
  <%= form_for @user do |p| %>
  <div class="form-group">
    <%= p.label 'Current password' %>
    <%= p.password_field :current_password,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= p.label 'Current password confirmation' %>
    <%= p.password_field :current_password_confirmation,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= p.label 'New password' %>
    <%= p.password_field :password,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= p.label 'New password confirmation' %>
    <%= p.password_field :password_confirmation,class: 'form-control' %>
  </div>

  <%= p.submit 'Update',class: 'btn btn-primary' %>
  <%end%>
</div>
