<h1>New project</h1>
<p><%=@project.errors.full_messages.join(', ')%></p>
<%= form_for @project do |p| %>
<div cass="">
  <%= p.label :title%>
  <%= p.text_field :title%>
</div>

<div cass="">
  <%= p.label :description%>
  <%= p.text_field :description%>
</div>

<div cass="">
  <%= p.submit %>
</div>

<%end%>
